# Gitignore for LobeHub
################################################################

# general
.DS_Store
.idea
.vscode
.history
.temp
.env.local
venv
temp
tmp

# dependencies
node_modules/
.pnp/
.pnp.js
*.log
*.lock
package-lock.json

# ci
.coverage
.eslintcache
.stylelintcache

# production
dist
es
logs
test-output

# umi
.umi
.umi-production
.umi-test
.dumi/tmp*

# husky
.husky/prepare-commit-msg

# misc
# add other ignore file below
public
.prettierrc.*js
.eslintrc.*js
.remarkrc.*js
.env
bun.lockb

# Testing
coverage/

# Production
build/
public/

# Misc
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
